.devfooter {
    text-align: right;
}

.devheader {
    margin-top: 10px;
    margin-bottom: 10px;
}

.error {
    color: red;
}

form a {
    margin-left: 5px;
}

.pull-right {
    float: right !important;
}